<svg xmlns="http://www.w3.org/2000/svg" style="display:none">
  <symbol id="i-play" viewBox="0 0 24 24">
    <rect x="2.5" y="4.5" width="19" height="15" rx="3.5"/>
    <path d="M10 9v6l5.5-3z" fill="currentColor" stroke="none"/>
  </symbol>
  <symbol id="i-danmaku" viewBox="0 0 24 24">
    <rect x="2.5" y="4.5" width="19" height="15" rx="3.5"/>
    <path d="M7 9.5h7M11 14.5h6"/>
  </symbol>
  <symbol id="i-like" viewBox="0 0 24 24">
    <path d="M7 21H5a2 2 0 0 1-2-2v-8a2 2 0 0 1 2-2h2m0 12V9m0 12h9.3a2 2 0 0 0 2-1.7l1.4-9A2 2 0 0 0 19.6 8H14V4.5A2.5 2.5 0 0 0 11.5 2L7 9"/>
  </symbol>
  <symbol id="i-coin" viewBox="0 0 24 24">
    <circle cx="12" cy="12" r="9.5"/>
    <path d="M8.5 8h7M12 8v8.5M9.5 16.5h5"/>
  </symbol>
  <symbol id="i-favorite" viewBox="0 0 24 24">
    <path d="M12 3.5l2.6 5.4 5.9.8-4.3 4.1 1.1 5.9L12 16.9l-5.3 2.8 1.1-5.9-4.3-4.1 5.9-.8z"/>
  </symbol>
  <symbol id="i-share" viewBox="0 0 24 24">
    <path d="M14 6.5l6.5 5.5L14 17.5v-3.7c-5.2 0-8.8 1.6-11.5 5.2.3-6.4 4.4-11 11.5-11.3z"/>
  </symbol>
  <symbol id="i-reply" viewBox="0 0 24 24">
    <path d="M20.5 15a2 2 0 0 1-2 2H8l-4.5 4V5.5a2 2 0 0 1 2-2h13a2 2 0 0 1 2 2z"/>
  </symbol>
  <symbol id="i-heart" viewBox="0 0 24 24">
    <path d="M12 20.5l-8-8a4.6 4.6 0 0 1 6.5-6.5l1.5 1.5 1.5-1.5a4.6 4.6 0 0 1 6.5 6.5z" fill="currentColor" stroke="none"/>
  </symbol>
</svg>
